---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <!-- The following line generates a table of contents. 
  I haven't found a way to make this hyper-link to sections
  within the page instead of hyper-linking to the page for
  each chapter. -->
  <!--  {% include toc.html html=content %}  -->
  <!-- The following line adds 'anchor headings'. I thought this
  would do what I want, but it's not exactly what I want either.-->
  {% include anchor_headings.html html=content anchorBody="#" generateId=true %}


  <div class="post-content">
    {{ content }}
  </div>

</article>
